
:root{
    --darkest: #305f2d;
    --darker: #4b9747;
    --base: #8dc678;
    --lighter: #cce295;
    --lightest: #eeeeee;
}


.days-list__day-item {
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    outline-offset: -1px;
}