
.container-activity{
    display: grid;
    grid-template-columns: 5vw 85vw;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    ". months"
    "days activity"
    ". colors"
    ;
    gap: .6rem;
}

.days-guide {
    grid-area: days;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.months-guide {
    grid-area: months;
    width: 100%;
    padding: .2rem 0;
    display: flex;
    justify-content: space-around;
}

.anual-list { 
    grid-area: activity;
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}

.colors-guide {
    grid-area: colors;
    display: flex;
    column-gap: .2rem;
    justify-self: end;
}